<div class="headerBox">
{{scaled-image src="https://d2r0rrogy5uf19.cloudfront.net/userDPs/8bedfd9d-dfc1-390e-b17a-d5bbde21d172.jpg"}}
<div class="username">
  <a href="">Maruti Nandan</a>
  <!-- <a href=""></a> -->
</div>
</div>
{{yield}}
