<div class="login-card">
	<title>Enstamasonry</title>
	<div class="insta-card ">
		<div class="headerBox">
			{{scaled-image src="https://instagram.fblr2-1.fna.fbcdn.net/t51.2885-19/s150x150/14719833_310540259320655_1605122788543168512_a.jpg"}}
			<div class="username">
				<a href="#">Instagram</a>
			</div>
		</div>
		<div class="center-image">
			{{scaled-image src="/landing_page_photos/instagram-card.jpg"}}
		</div>
		<div class="card-footer">
			<img class="heart-icon" src="/insta_card_icons/heart_white.png"/>
		</div>
	</div>
	<div class="login-strip">
		<img src="/landing_page_photos/instagram1.png"/>
		<p>Continue with Instagram</p>
	</div>
</div>
<div class="sliding-page">
	<div class="cover">	
	</div>
	{{#each a as}}
	{{landing-card}}
	{{/each}}
</div>
{{yield}}
