<title>Enstamasonry</title>
<input type="text" placeholder="search" value={{searchValue}}>
{{scaled-image src="https://d2r0rrogy5uf19.cloudfront.net/userDPs/c5468197-c423-3d3a-a79a-a1f9ab8cf8d6.jpg"}}
{{yield}}
