<div class="user"> 
	{{scaled-image src="https://d2r0rrogy5uf19.cloudfront.net/userDPs/c5468197-c423-3d3a-a79a-a1f9ab8cf8d6.jpg"}}
	<div class="details">
		<div class="first-strip">
			<h2 {{action "ajaxCall"}}>nandanself</h2>
			{{!-- <button>Edit Profile</button> --}}
		</div>

		<div class="second-strip">
			<div class="col">
				<p>6 posts</p>
			</div>

			<div class="col">
				<p>106 followers</p>
			</div>

			<div class="col">
				<p>164 following</p>
			</div>
		</div>

		<div class="third-strip">
			<p>Maruti Nandan</p>
			<span>Enstamasonry</span>
			<a href="https:galleri5.com">m.youtube.com/watch?feature=youtu.be&v=wo0ospGvxXc</a>
		</div>

	</div>
</div>
{{yield}}
